body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 6px;
  width: 90%;
}

button {
  margin: 1em;
}
.card {
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  width: 45%;
  margin: 1em;
}


iframe {
  width:80%;
  height:15em;
  border-radius: 4px;
}

.search {
  display: block;
  margin: auto;
  height: 30px;
  width: 25%;
  text-align: center;
}
.newRestaurant {
  display: block;
}
