body {
  /* background-image: url("https://img.freepik.com/free-photo/pastel-brown-linen-textile-textured-background_53876-104799.jpg?t=st=1654187276~exp=1654187876~hmac=c3e66afe9165f99c25aab36d7267c5a813e0393532a45952d3ce1679059f2c29&w=900"); */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 6px;
  width: 90%;
}

button {
  margin: 1em;
}
.card {
  text-align: center;
  display: inline-block;
  border: 2px solid black;
  width: 45%;
  margin: 1em;
  background-color: white;
}
.delete {
  background-color:#f7c0b1;
}
.edit {
  background-color: rgb(243, 231, 165);
}

iframe {
  width:80%;
  height:15em;
  border-radius: 4px;
}

.search {
  display: block;
  margin: auto;
  height: 30px;
  width: 25%;
  text-align: center;
}
.newRestaurant {
  display: block;
}

footer {
  display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eef0ee;
    height: 50px;
    padding-top: 20px;
    margin-bottom: 15px;
}

.footer {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 921px) {
  .card {
    width: 90%;
  }
}